
extends layout

block content
    div
        .page-title
            .title_left
                h3
                    | Historial reportes
            .title_right
                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search(style="display:flex;justify-content:flex-end;")
                    span.input-group
                        a(href="/new-report")
                            button(type="button").btn.btn-primary Nuevo reporte

        .col-md-12.col-sm-12.col-xs-12
            .x_panel

                .x_content
                    
                    table#datatable-fixed-header.table.table-striped.table-bordered
                        thead
                            tr
                                th Id
                                th Nomre
                                th Correo
                                th Numero
                                th Fecha
                                th Propiedades
                        tbody
                            each dato in datos
                                tr.even.pointer
                                    td.a-center #{dato.idreporte_local}
                                    td.a-center #{dato.nombre}
                                    td.a-center #{dato.correocliente}
                                    td.a-center #{dato.telefono1}
                                    td.a-center #{dato.fechaini}
                                    td.a-center #{dato.propiedades}
